In [1]:
from masa_madre.consultas.bases import BaseProveedores

In [1]:
import logging
import pathlib
from datetime import datetime

import pandas as pd
from dateutil.relativedelta import relativedelta
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession, DataFrame

from bases import BaseProveedores

from spark import crear_vista_oracle, crear_sesion_spark, agregar_precios_impventa_cantventa_dproducto, agregar_precios_impventa_moda

In [2]:
spark_session = crear_sesion_spark("prueba_local", 'local')

2021-11-25 02:52:22,103 - *** Iniciando Sesión Spark. ***
2021-11-25 02:52:26,519 -   ---> Sesión Spark iniciada.

In [3]:
crear_vista_oracle(spark_session, "SELECT CODIGO FROM DW.D_PRODUCTO LIMIT 10", "dprod", entorno = 'local')

DataFrame[CODIGO: double]

In [4]:
base_prueba = BaseProveedores('br', 'admin', 'local')
db_prueba = base_prueba.ejecutar_consulta("SELECT CODIGO PROD_CODIGO, CODIGO_BARRAS, DESCRIPCION FROM DW.D_PRODUCTO LIMIT 10")

In [5]:
agregar_precios_impventa_cantventa_dproducto(db_prueba, 'br', entorno = 'local')

2021-11-25 02:52:34,054 - *** Agregando info de ventas a nivel de d_producto
2021-11-25 02:52:34,056 - *** Iniciando Sesión Spark. ***
2021-11-25 02:52:34,089 -   ---> Sesión Spark iniciada.
2021-11-25 02:52:34,131 - *** Registrando informacion de ventas
2021-11-25 02:54:43,969 -   ---> Informacion de ventas registrada
2021-11-25 02:54:43,970 - *** Procesando dataframe final
2021-11-25 02:54:53,164 - ### Finalizó el agregado de info de ventas a nivel de d_producto

,PROD_CODIGO,CODIGO_BARRAS,DESCRIPCION,PRECIO_MIN,PRECIO_MEDIO,PRECIO_MAX,IMP_VTA,UNIDADES_VENDIDAS,PDV_CON_VENTAS
0,1791775.0,9.990003e+12,GASOLINA COMUM ...,NaN,NaN,NaN,None,NaN,0
1,1791781.0,9.990003e+12,COMB ALCOOL ...,NaN,NaN,NaN,None,NaN,0
2,3192503.0,7.899450e+12,BIJOUX KIT KOK 4.99 ...,NaN,NaN,NaN,None,NaN,0
3,5476348.0,7.899963e+12,PNEU DUNLOP 175 ...,302.100000,318.500000,334.900000,1870.000000000000000000,3.0,2
4,554.0,7.894650e+12,CERA GRAND PRIX 200G TRADICIONAL ...,19.916000,24.990000,31.900000,2944.100000000000000000,115.0,102
5,6109504.0,5.134218e+10,PN175/70R14 EUZKADI2 ...,NaN,NaN,NaN,None,NaN,0
6,6109996.0,5.134218e+10,PN 175/65R14 EUZKADI ...,321.740333,321.741667,391.548333,2982.930000000000000000,4.0,3
7,6110360.0,5.134213e+10,PN185/65R15 EUZKADI ...,NaN,NaN,NaN,None,NaN,0
8,6890751.0,7.891737e+12,PULSEIRA P263 PEDRAS E PING ...,NaN,NaN,NaN,None,NaN,0
9,6892643.0,7.891737e+12,BRINCO LG B439 PEDRAS ...,NaN,NaN,NaN,None,NaN,0

In [ ]:
agregar_precios_impventa_moda(db_prueba, entorno = 'local')

2021-11-25 02:55:03,774 - *** Agregando info de precios a nivel de prod_codigo y codigo_barras
2021-11-25 02:55:03,775 - *** Iniciando Sesión Spark. ***
2021-11-25 02:55:03,922 -   ---> Sesión Spark iniciada.
2021-11-25 02:55:03,924 - *** Registrando informacion de precios